* {
    margin: 0 0 0 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .row {
    margin: 0;
    padding: 0;
  }
  
  #header {
    height: 70px;
    background-color: red;
    margin: 0;
  }
  
  #header-left {
    background-color: burlywood;
  }
  
  #header-right {
    background-color: gray;
  }
  
  #main {
    height: 100%-70px;
    background-color: white;
    margin: 0;
  }
  
  #main-filter {
    height: 60px;
    background-color: yellow;
    margin: 0;
  }
  
  #main-filter-search {
    background-color: pink;
  }
  
  #main-filter-option {
    background-color: brown;
  }
  
  #main-filter-icon {
    background-color: gold;
  }
  
  #main-content {
    height: 85%-60px;
    background-color: black;
    margin: 0;
  }
  
  #main-content-list {
    background-color: purple;
  }
  
  #main-content-map {
    background-color: coral;
  }
  
  #header-left-logo {
    background-color: rgb(130, 255, 80);
  }
  #header-left-siteurl01 {
    background-color: rgb(143, 8, 114);
  }
  #header-left-siteurl02 {
    background-color: rgb(47, 230, 102);
  }
  #header-right-menu {
    background-color: rgb(187, 224, 54);
  }
  #header-right-user {
    background-color: rgb(139, 145, 228);
  }
  #header-right-user-signup {
    background-color: rgb(10, 117, 15);
  }
  #header-right-user-signin{
    background-color: rgb(243, 85, 85);
  }
  #header-right-menu-main{
    background-color: rgb(201, 204, 36);
  }
  #header-right-menu-interest{
    background-color: rgb(230, 221, 185);
  }
  #header-right-menu-board{
    background-color: rgb(71, 60, 68);
  }
  #header-right-menu-noticeboard{
    background-color: rgb(102, 42, 13);
  }