#main-login{
    padding: 50px 10% 40px;
    /* background-color: wheat;    */
    min-width: 20px;
    
  
}

#main-login-title{
    /* background-color: red; */
    padding-top: 60px;
    height: 10%;    
    vertical-align: middle;
}

#main-login-input{
    /* background-color: rgb(158, 196, 53); */
    height: 20%;
   
}

#main-login-button{
    /* background-color: rgb(116, 59, 190); */
    height: 50%;
}
#main-login-button *{
    margin-bottom: 10px;
}
#main-login-input-id{
    border: 1px solid black;
    padding: 40px;
    height: 50%;
}

#main-login-input-pw{
    border: 1px solid black;
    margin-top: 8px;
    padding: 40px 20px 30px;
    height: 50%;
    
}

#main-login-button-submit{
    color: white;
    background-color:#ff8a3d ;
    height: 15%;
    border:0 solid transparent;
}

#main-login-button-signup{
    color: white;
    background-color:#ff8a3d ;
    height: 15%;
    border:0 solid transparent;
}
