<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UserLogin</title>
    <link href="common.css" rel="stylesheet" />
    <link href="userlogin.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container-fluid">
      <div id="header" class="row">
        <div id="header-left" class="col-sm-3 na row">
          <div id="header-left-logo" class="col-sm-6">header-left-logo</div>
          <div id="header-left-siteurl01" class="col-sm-3">
            header-left-siteurl01
          </div>
          <div id="header-left-siteurl02" class="col-sm-3">
            "header-left-siteurl02
          </div>
        </div>
        <div id="header-middle" class="col-sm-4">empty-space</div>
        <div id="header-right" class="col-sm-5 na row">
          <div id="header-right-menu" class="col-sm row">
            <div id="header-right-menu-main" class="col-sm-3">
              header-right-menu-main
            </div>
            <div id="header-right-menu-interest" class="col-sm-3">
              header-right-menu-interest
            </div>
            <div id="header-right-menu-board" class="col-sm-3">
              header-right-menu-board
            </div>
            <div id="header-right-menu-noticeboard" class="col-sm-3">
              header-right-menu-noticeboard
            </div>
          </div>
          <div id="header-right-user" class="col-sm na row">
            <div id="header-right-user-signup" class="col-sm-6">
              main-content-map-signup
            </div>
            <div id="header-right-user-signin" class="col-sm-6">
              main-content-map-signin
            </div>
          </div>
        </div>
      </div>
      <div id="main">
        <div id="main-login" class="row">
          <div id="main-login-title">
            <h1 style="text-align: center">LOGIN</h1>
          </div>
          <div id="main-login-input" >
            <form action="">
              <input
                id="main-login-input-id"
                type="text"
                placeholder="아이디"
              />
              <input
                id="main-login-input-pw"
                type="password"
                placeholder="비밀번호"
              />
            </form>
          </div>
          <div id="main-login-button">
            <button type="button" id="main-login-button-submit">로그인</button>

            <button type="button" id="main-login-button-signup">
              회원가입
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
